name: Docker Build and Push

on:
  push:
    branches:
      - main
      - master

jobs:
  ci:
    name: CI
    uses: ./.github/workflows/ci.yml

  build_and_push:
    needs: [ci]
    name: Build and Push
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/nostr-rs-relay:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}